
  <div class="" style=" display: block; margin-left: auto; margin-right: auto;">

    <div class="modal-header justify-content-center">
      <h4 class="modal-title">EDITING PASSWORD</h4>
      <button type="button" class="close" aria-label="Close" (click)="return()" style="float: right;">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body justify-content-center">

      <form [formGroup]="editUserPassword">


        <div class="form-group row">
          <label class="col-sm-5 col-form-label">Old Password</label>
          <div class="col-sm-7">
            <input class="form-control" #oldpassword type="password" required>
          </div>
        </div>
        <br>
        <div class="form-group row">
          <label class="col-sm-5 col-form-label">New Password</label>
          <div class="col-sm-7">
            <input class="form-control" #newpassword type="password">
          </div>
        </div>
        <br>
        <div class="form-group row">
          <label class="col-sm-5 col-form-label">Confirm New Password</label>
          <div class="col-sm-7">
            <input class="form-control" #conpassword type="password">
          </div>
        </div>
        <br>
        <div class="form-group row " style="float: center; padding-left: 50%;">

          <button [disabled]="submitted" class="btn primary m-1"
            (click)="submitData({oldpassword: oldpassword.value, newpassword: newpassword.value, conpassword: conpassword.value})">UPDATE</button>

        </div>
      </form>

    </div>
  </div>
