<div>
  <div class="modal-header">
    <h4 class="modal-title">Create Test Profile</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="testProfileForm" style="width :100%">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="profileName">profile name: </label>
        <div class="col-sm-6">
          <input class="form-control" placeholder="profile name" formControlName="profile_name" id="profileName"></div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="testTime">test time: </label>
        <div class="col-sm-6">
          <input class="form-control" placeholder="in minutes" formControlName="test_time" id="testTime"></div>
      </div>
      <div class="d-flex justify-content-center row">
        <button class="btn sd-btn btn-raised secondary" (click)="testProfileService.showTeams()">departments</button>
        <div class="divider"></div>
        <button class="btn sd-btn btn-raised secondary" (click)="testProfileService.showSegments()">Test
          segments</button>
      </div>

      <div *ngIf="testProfileService.teamOrSegment ==0; else addSegments">


        <div class="d-flex justify-content-center">
          <div class="form-group row col-md-6">
            <label class=" col-form-label">Select Department</label>
            <select class="form-control input-c" (change)="teamsService.setDepartment($event.target.value)">
              <option value=0>none</option>
              <option [value]="x.department" *ngFor="let x of teamsService.departments;">
                <div>{{x.department}}</div>
              </option>
            </select>
          </div>
        </div>

        <div class="d-flex justify-content-center">
          <div class="form-group row col-md-6">
            <label class=" col-form-label">Select Subdepartment</label>
            <select class="form-control input-c" (change)="teamsService.setSubdepartment($event.target.value)">
              <option value=0>All</option>
              <option [value]="team.ID" *ngFor="let team of teamsService.subdepartments;">
                {{team.subdepartment}}
              </option>
            </select>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <button type="button" (click)="addTeams()" class="btn sd-btn btn-raised">Add sub department</button>

        </div>
        <p></p>

        <div formArrayName="teams">
          <table class="table table-hover table-sm">
            <thead>
              <tr>
                <th>Departments</th>
                <th>Sub departments</th>
                <th> </th>
              </tr>
            </thead>


            <tbody *ngFor="let team of teams.controls; let i = index">
              <tr>
                <td>{{team.value.department}}</td>
                <td>{{team.value.subDepartment}}</td>
                <td>
                  <button class="btn sd-btn btn-sm " data-toggle="tooltip" data-placement="bottom"
                    title="Remove sub department" (click)="removeDepartment(i)">
                    <i class="icons8-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>

          </table>
        </div>

      </div>
      <ng-template #addSegments>
        <p></p>
        <div formArrayName="segments">
          <div class="d-flex justify-content-center">
            <button type="button" (click)="addSegment()" class="btn sd-btn btn-raised">Add Segment</button>
          </div>
          <div class="divider"></div>
          <div *ngFor="let segm of segments.controls; let idx = index" [formGroupName]="idx"
            class="segment row d-flex justify-content-center">
            <p> <b>Segment : {{ idx + 1}} </b> </p>

            <p>
              <select class="form-control input-c" formControlName="category_ID" >
                <!-- <option select>Select a category</option> -->
                <option [value]="category.ID" *ngFor="let category of testProfileService.categories;">
                  {{category.category_name}}
                </option>
              </select>
              <!-- <input formControlName="category" placeholder="category"> -->
            </p>
            <p>Difficulty :

              <select formControlName="difficulty">
                <option *ngFor="let difficulty of difficulties" [ngValue]="difficulty">
                  {{ difficulty }}
                </option>
              </select>
            </p>
            <p>Amount : <input formControlName="quantity" placeholder="quantity"></p>

            <div class="mx-1 mb-1" style="color:white;">
              <a class="grey circle w-35 btn btn-with-icon" data-toggle="tooltip" data-placement="bottom"
                title="Remove segment" (click)="removeSegment(idx)">
                <i class="icons8-trash"></i>
              </a>
            </div>

          </div>
        </div>
      </ng-template>

    </form>
  </div>

  <div class="modal-footer d-flex justify-content-center">
    <button type="button" class="btn sd-btn btn-raised primary" (click)="AddTestProfile()">Create Profile</button>
  </div>
</div>