.answerText{
    font-size : 1vw;
    color: #75787b
}
.questionType{
    font-size : 1vw;
    color: #e60036
}
.questionText{
    font-size : 2vw;
    color: #4f5153
}
.image{
    max-width: 100vw;
}


     
    