<div>
  <div class="modal-header">
    <h4 class="modal-title">Update Notes</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div _ngcontent-gau-c7="" class="justify-content-center">
      <textarea #updatedNotes _ngcontent-gau-c7="" class="form-control" rows="20">{{applicant.notes}}</textarea>
    </div>
  </div>
  <div class="modal-footer d-flex justify-content-center">
    <button type="button" class="btn sd-btn btn-raised primary" (click)= "update(updatedNotes.value)">Update</button>
  </div>
</div>