<div _ngcontent-c15="" class="pos-rlt border p-2">
  <sd-header _ngcontent-c15="" applicationname="SDTest" ng-reflect-application-name="SDTest">
    <div class="sd-header white box-shadow">
      <nav class="navbar navbar-toggleable-sm justify-content-between align-items-center">
        <a class="navbar-brand">
          <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5
  L3hsaW5rIiB3aWR0aD0iMTQ2cHgiIGhlaWdodD0iNTZweCIgdmlld0JveD0iMCAwIDE0NiA1MyIgdmVyc2lvbj0iMS4xIj4KICAg
  ICAgICAgICAgICAgIDxkZXNjPlNEIFdvcnggbG9nby48L2Rlc2M+CiAgICAgICAgICAgICAgICA8ZGVmcy8+CiAgICAgICAgICAg
  ICAgICA8ZyBpZD0iQXNzZXRzIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJl
  dmVub2RkIj4KICAgICAgICAgICAgICAgICAgICA8ZyBpZD0iU0QtTG9nby12ZWN0b3IiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0z
  Mi4wMDAwMDAsIC0yMTMuMDAwMDAwKSIgZmlsbC1ydWxlPSJub256ZXJvIj4KICAgICAgICAgICAgICAgICAgICAgICAgPGcgaWQ9
  IkxvZ28tbm9ybWFsIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzMi4wMDAwMDAsIDIxMy4wMDAwMDApIj4KICAgICAgICAgICAgICAg
  ICAgICAgICAgICAgIDxwYXRoIGQ9Ik0zOC4wNjY0MTc5LDM3LjIxMDQxNjcgQzM5LjA1MzczMTMsMzcuODcyOTE2NyA0MC44MDg5
  NTUyLDM4LjUzNTQxNjcgNDIuNTY0MTc5MSwzOC41MzU0MTY3IEM0NC45Nzc2MTE5LDM4LjUzNTQxNjcgNDYuMDc0NjI2OSwzNy4z
  MjA4MzMzIDQ2LjA3NDYyNjksMzUuNzc1IEM0Ni4wNzQ2MjY5LDM0LjExODc1IDQ1LjA4NzMxMzQsMzMuMjM1NDE2NyA0Mi42NzM4
  ODA2LDMyLjM1MjA4MzMgQzM5LjI3MzEzNDMsMzEuMTM3NSAzNy43MzczMTM0LDI5LjI2MDQxNjcgMzcuNzM3MzEzNCwyNy4wNTIw
  ODMzIEMzNy43MzczMTM0LDI0LjA3MDgzMzMgNDAuMTUwNzQ2MywyMS42NDE2NjY3IDQ0LjEsMjEuNjQxNjY2NyBDNDUuOTY0OTI1
  NCwyMS42NDE2NjY3IDQ3LjYxMDQ0NzgsMjIuMTkzNzUgNDguNTk3NzYxMiwyMi43NDU4MzMzIEw0Ny44Mjk4NTA3LDI1LjE3NSBD
  NDcuMDYxOTQwMywyNC43MzMzMzMzIDQ1Ljc0NTUyMjQsMjQuMDcwODMzMyA0NC4xLDI0LjA3MDgzMzMgQzQyLjEyNTM3MzEsMjQu
  MDcwODMzMyA0MS4wMjgzNTgyLDI1LjE3NSA0MS4wMjgzNTgyLDI2LjYxMDQxNjcgQzQxLjAyODM1ODIsMjguMTU2MjUgNDIuMTI1
  MzczMSwyOC45MjkxNjY3IDQ0LjUzODgwNiwyOS44MTI1IEM0Ny43MjAxNDkzLDMxLjAyNzA4MzMgNDkuMzY1NjcxNiwzMi41NzI5
  MTY3IDQ5LjM2NTY3MTYsMzUuNDQzNzUgQzQ5LjM2NTY3MTYsMzguNzU2MjUgNDYuODQyNTM3Myw0MS4wNzUgNDIuNDU0NDc3Niw0
  MS4wNzUgQzQwLjQ3OTg1MDcsNDEuMDc1IDM4LjYxNDkyNTQsNDAuNTIyOTE2NyAzNy4yOTg1MDc1LDM5Ljc1IEwzOC4wNjY0MTc5
  LDM3LjIxMDQxNjcgWiIgaWQ9IlNoYXBlIiBmaWxsPSIjNTQ1RDcxIi8+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8cGF0
  aCBkPSJNNjguMDE0OTI1NCwxMy4zNjA0MTY3IEw2OC4wMTQ5MjU0LDM1Ljc3NSBDNjguMDE0OTI1NCwzNy40MzEyNSA2OC4wMTQ5
  MjU0LDM5LjMwODMzMzMgNjguMTI0NjI2OSw0MC41MjI5MTY3IEw2NS4xNjI2ODY2LDQwLjUyMjkxNjcgTDY1LjA1Mjk4NTEsMzcu
  MzIwODMzMyBMNjQuOTQzMjgzNiwzNy4zMjA4MzMzIEM2My45NTU5NzAxLDM5LjQxODc1IDYxLjY1MjIzODgsNDAuOTY0NTgzMyA1
  OC42OTAyOTg1LDQwLjk2NDU4MzMgQzU0LjE5MjUzNzMsNDAuOTY0NTgzMyA1MC43OTE3OTEsMzcuMjEwNDE2NyA1MC43OTE3OTEs
  MzEuNTc5MTY2NyBDNTAuNzkxNzkxLDI1LjM5NTgzMzMgNTQuNjMxMzQzMywyMS42NDE2NjY3IDU5LjAxOTQwMywyMS42NDE2NjY3
  IEM2MS44NzE2NDE4LDIxLjY0MTY2NjcgNjMuNzM2NTY3MiwyMi45NjY2NjY3IDY0LjYxNDE3OTEsMjQuNDAyMDgzMyBMNjQuNzIz
  ODgwNiwyNC40MDIwODMzIEw2NC43MjM4ODA2LDEzLjM2MDQxNjcgTDY4LjAxNDkyNTQsMTMuMzYwNDE2NyBMNjguMDE0OTI1NCwx
  My4zNjA0MTY3IFogTTY0LjcyMzg4MDYsMjkuNTkxNjY2NyBDNjQuNzIzODgwNiwyOS4xNSA2NC43MjM4ODA2LDI4LjU5NzkxNjcg
  NjQuNjE0MTc5MSwyOC4xNTYyNSBDNjQuMDY1NjcxNiwyNi4wNTgzMzMzIDYyLjMxMDQ0NzgsMjQuMjkxNjY2NyA1OS43ODczMTM0
  LDI0LjI5MTY2NjcgQzU2LjI3Njg2NTcsMjQuMjkxNjY2NyA1NC4zMDIyMzg4LDI3LjM4MzMzMzMgNTQuMzAyMjM4OCwzMS40Njg3
  NSBDNTQuMzAyMjM4OCwzNS4yMjI5MTY3IDU2LjE2NzE2NDIsMzguNDI1IDU5Ljc4NzMxMzQsMzguNDI1IEM2MS45ODEzNDMzLDM4
  LjQyNSA2NC4wNjU2NzE2LDM2Ljg3OTE2NjcgNjQuNzIzODgwNiwzNC40NSBDNjQuODMzNTgyMSwzNC4wMDgzMzMzIDY0LjgzMzU4
  MjEsMzMuNTY2NjY2NyA2NC44MzM1ODIxLDMzLjAxNDU4MzMgTDY0LjgzMzU4MjEsMjkuNTkxNjY2NyBMNjQuNzIzODgwNiwyOS41
  OTE2NjY3IFoiIGlkPSJTaGFwZSIgZmlsbD0iIzU0NUQ3MSIvPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPHBhdGggZD0i
  TTc0LjE1ODIwOSwyMi4wODMzMzMzIEw3Ni42ODEzNDMzLDMxLjQ2ODc1IEM3Ny4xMjAxNDkzLDMzLjU2NjY2NjcgNzcuNjY4NjU2
  NywzNS40NDM3NSA3Ny45OTc3NjEyLDM3LjQzMTI1IEw3OC4xMDc0NjI3LDM3LjQzMTI1IEM3OC41NDYyNjg3LDM1LjU1NDE2Njcg
  NzkuMDk0Nzc2MSwzMy41NjY2NjY3IDc5Ljc1Mjk4NTEsMzEuNDY4NzUgTDgyLjcxNDkyNTQsMjEuOTcyOTE2NyBMODUuNTY3MTY0
  MiwyMS45NzI5MTY3IEw4OC40MTk0MDMsMzEuMjQ3OTE2NyBDODkuMDc3NjExOSwzMy40NTYyNSA4OS42MjYxMTk0LDM1LjQ0Mzc1
  IDkwLjA2NDkyNTQsMzcuMzIwODMzMyBMOTAuMTc0NjI2OSwzNy4zMjA4MzMzIEM5MC41MDM3MzEzLDM1LjQ0Mzc1IDkwLjk0MjUz
  NzMsMzMuNDU2MjUgOTEuNjAwNzQ2MywzMS4yNDc5MTY3IEw5NC4yMzM1ODIxLDIxLjk3MjkxNjcgTDk3LjUyNDYyNjksMjEuOTcy
  OTE2NyBMOTEuNjAwNzQ2Myw0MC41MjI5MTY3IEw4OC41MjkxMDQ1LDQwLjUyMjkxNjcgTDg1LjY3Njg2NTcsMzEuNjg5NTgzMyBD
  ODUuMDE4NjU2NywyOS41OTE2NjY3IDg0LjQ3MDE0OTMsMjcuNzE0NTgzMyA4NC4wMzEzNDMzLDI1LjUwNjI1IEw4My45MjE2NDE4
  LDI1LjUwNjI1IEM4My40ODI4MzU4LDI3LjcxNDU4MzMgODIuOTM0MzI4NCwyOS43MDIwODMzIDgyLjI3NjExOTQsMzEuNjg5NTgz
  MyBMNzkuMzE0MTc5MSw0MC41MjI5MTY3IEw3Ni4yNDI1MzczLDQwLjUyMjkxNjcgTDcwLjY0Nzc2MTIsMjEuOTcyOTE2NyBMNzQu
  MTU4MjA5LDIxLjk3MjkxNjcgTDc0LjE1ODIwOSwyMi4wODMzMzMzIFoiIGlkPSJTaGFwZSIgZmlsbD0iIzgwODk5MyIvPgogICAg
  ICAgICAgICAgICAgICAgICAgICAgICAgPHBhdGggZD0iTTEwNi41MjAxNDksNDEuMDc1IEMxMDEuNTgzNTgyLDQxLjA3NSA5Ny42
  MzQzMjg0LDM3LjQzMTI1IDk3LjYzNDMyODQsMzEuNDY4NzUgQzk3LjYzNDMyODQsMjUuMjg1NDE2NyAxMDEuNjkzMjg0LDIxLjY0
  MTY2NjcgMTA2LjczOTU1MiwyMS42NDE2NjY3IEMxMTIuMDA1MjI0LDIxLjY0MTY2NjcgMTE1LjYyNTM3MywyNS41MDYyNSAxMTUu
  NjI1MzczLDMxLjEzNzUgQzExNS43MzUwNzUsMzguMDkzNzUgMTExLjAxNzkxLDQxLjA3NSAxMDYuNTIwMTQ5LDQxLjA3NSBMMTA2
  LjUyMDE0OSw0MS4wNzUgWiBNMTA2LjYyOTg1MSwzOC41MzU0MTY3IEMxMDkuODExMTk0LDM4LjUzNTQxNjcgMTEyLjIyNDYyNywz
  NS41NTQxNjY3IDExMi4yMjQ2MjcsMzEuMjQ3OTE2NyBDMTEyLjIyNDYyNywyOC4wNDU4MzMzIDExMC42ODg4MDYsMjQuMTgxMjUg
  MTA2LjczOTU1MiwyNC4xODEyNSBDMTAyLjc5MDI5OSwyNC4xODEyNSAxMDEuMTQ0Nzc2LDI3LjgyNSAxMDEuMTQ0Nzc2LDMxLjM1
  ODMzMzMgQzEwMS4xNDQ3NzYsMzUuNDQzNzUgMTAzLjMzODgwNiwzOC41MzU0MTY3IDEwNi42Mjk4NTEsMzguNTM1NDE2NyBMMTA2
  LjYyOTg1MSwzOC41MzU0MTY3IFoiIGlkPSJTaGFwZSIgZmlsbD0iIzgwODk5MyIvPgogICAgICAgICAgICAgICAgICAgICAgICAg
  ICAgPHBhdGggZD0iTTExOC40Nzc2MTIsMjcuODI1IEMxMTguNDc3NjEyLDI1LjYxNjY2NjcgMTE4LjQ3NzYxMiwyMy43Mzk1ODMz
  IDExOC4zNjc5MSwyMi4wODMzMzMzIEwxMjEuMzI5ODUxLDIyLjA4MzMzMzMgTDEyMS40Mzk1NTIsMjUuNzI3MDgzMyBMMTIxLjU0
  OTI1NCwyNS43MjcwODMzIEMxMjIuNDI2ODY2LDIzLjE4NzUgMTI0LjQwMTQ5MywyMS42NDE2NjY3IDEyNi43MDUyMjQsMjEuNjQx
  NjY2NyBDMTI3LjAzNDMyOCwyMS42NDE2NjY3IDEyNy4zNjM0MzMsMjEuNjQxNjY2NyAxMjcuNTgyODM2LDIxLjc1MjA4MzMgTDEy
  Ny41ODI4MzYsMjQuODQzNzUgQzEyNy4xNDQwMywyNC44NDM3NSAxMjYuODE0OTI1LDI0LjczMzMzMzMgMTI2LjM3NjExOSwyNC43
  MzMzMzMzIEMxMjMuOTYyNjg3LDI0LjczMzMzMzMgMTIyLjMxNzE2NCwyNi41IDEyMS44NzgzNTgsMjkuMDM5NTgzMyBDMTIxLjc2
  ODY1NywyOS41OTE2NjY3IDEyMS43Njg2NTcsMzAuMDMzMzMzMyAxMjEuNzY4NjU3LDMwLjY5NTgzMzMgTDEyMS43Njg2NTcsNDAu
  NjMzMzMzMyBMMTE4LjQ3NzYxMiw0MC42MzMzMzMzIEwxMTguNDc3NjEyLDI3LjgyNSBaIiBpZD0iU2hhcGUiIGZpbGw9IiM4MDg5
  OTMiLz4KICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik0xMzMuMTc3NjEyLDIyLjA4MzMzMzMgTDEzNS44MTA0
  NDgsMjYuMDU4MzMzMyBDMTM2LjQ2ODY1NywyNy4xNjI1IDEzNy4wMTcxNjQsMjguMDQ1ODMzMyAxMzcuNjc1MzczLDI5LjAzOTU4
  MzMgTDEzNy43ODUwNzUsMjkuMDM5NTgzMyBDMTM4LjQ0MzI4NCwyNy45MzU0MTY3IDEzOC45OTE3OTEsMjcuMDUyMDgzMyAxMzku
  NjUsMjYuMDU4MzMzMyBMMTQyLjE3MzEzNCwyMi4wODMzMzMzIEwxNDUuNzkzMjg0LDIyLjA4MzMzMzMgTDEzOS41NDAyOTksMzEu
  MDI3MDgzMyBMMTQ2LjAxMjY4Nyw0MC42MzMzMzMzIEwxNDIuMTczMTM0LDQwLjYzMzMzMzMgTDEzOS40MzA1OTcsMzYuNDM3NSBD
  MTM4LjY2MjY4NywzNS4zMzMzMzMzIDEzOC4xMTQxNzksMzQuMzM5NTgzMyAxMzcuNDU1OTcsMzMuMjM1NDE2NyBMMTM3LjM0NjI2
  OSwzMy4yMzU0MTY3IEMxMzYuNjg4MDYsMzQuMzM5NTgzMyAxMzYuMTM5NTUyLDM1LjMzMzMzMzMgMTM1LjM3MTY0MiwzNi40Mzc1
  IEwxMzIuNzM4ODA2LDQwLjYzMzMzMzMgTDEyOS4wMDg5NTUsNDAuNjMzMzMzMyBMMTM1LjU5MTA0NSwzMS4xMzc1IEwxMjkuNDQ3
  NzYxLDIyLjA4MzMzMzMgTDEzMy4xNzc2MTIsMjIuMDgzMzMzMyBaIiBpZD0iU2hhcGUiIGZpbGw9IiM4MDg5OTMiLz4KICAgICAg
  ICAgICAgICAgICAgICAgICAgICAgIDxwb2x5Z29uIGlkPSJTaGFwZSIgZmlsbD0iI0U0MDAzOSIgcG9pbnRzPSIxNS4xMzg4MDYg
  MTUuMTI3MDgzMyAxMS4wNzk4NTA3IDUyLjQ0NzkxNjcgMTcuNjYxOTQwMyA1Mi40NDc5MTY3IDIyLjA1IDE1LjEyNzA4MzMiLz4K
  ICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxwb2x5Z29uIGlkPSJTaGFwZSIgZmlsbD0iIzc2ODNBMCIgcG9pbnRzPSIzLjQw
  MDc0NjI3IDQwLjg1NDE2NjcgOS42NTM3MzEzNCA0MC44NTQxNjY3IDcuMTMwNTk3MDEgMjYuNjEwNDE2NyAwLjc2NzkxMDQ0OCAy
  Ni42MTA0MTY3Ii8+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8cG9seWdvbiBpZD0iU2hhcGUiIGZpbGw9IiNGOEFDMDEi
  IHBvaW50cz0iMzEuMDQ1NTIyNCAwLjU1MjA4MzMzMyAyMi40ODg4MDYgNDAuODU0MTY2NyAyOS4xODA1OTcgNDAuODU0MTY2NyAz
  OC4xNzYxMTk0IDAuNTUyMDgzMzMzIi8+CiAgICAgICAgICAgICAgICAgICAgICAgIDwvZz4KICAgICAgICAgICAgICAgICAgICA8
  L2c+CiAgICAgICAgICAgICAgICA8L2c+CiAgICAgICAgICAgIDwvc3ZnPg==">
          <span class="hidden-folded inline">SDTest</span>
        </a>
        <sd-header-navbar _ngcontent-c15="">
          <ul class="nav navbar-nav d-flex flex-row justify-content-between align-items-center"
            ng-class="right ? 'ml-auto' : ''">
            <sd-header-navbar-item _ngcontent-c15="">
              <li class="nav-item ">
                <a _ngcontent-c15="" class="nav-link">
                  <i _ngcontent-c15="" class="icons8-inbox pr-2"></i>
                  <span _ngcontent-c15="" class="label warn up mr-0">3</span>
                </a>
              </li>
            </sd-header-navbar-item>
            <sd-header-navbar-divider _ngcontent-c15="">
              <li class="nav-divider mx-1"></li>
            </sd-header-navbar-divider>
            <sd-header-navbar-divider _ngcontent-c15="">
              <li class="nav-divider mx-1"></li>
            </sd-header-navbar-divider>
          </ul>
        </sd-header-navbar>
      </nav>
    </div>
  </sd-header>
</div>