
<div class="row">
    <div class="col-md-12">
      <sd-card class="sdCard">
        <sd-card-header class="p" title="QUESTION PROFILE"></sd-card-header>
        <sd-card-body>
  
          <div   *ngFor="let question of question.questionProfile">
            <span  
              class="_600 text-primary">{{ question.ID + ". " + question.questionText }}
              <button *ngIf="authUser.isAdmin || authUser.isSuperAdmin || authUser.isTeamLeader" type="button" (click) = "editQuestions()" class="btn btn-raised btn-with-icon btn-outline accent" style="float: right">
                <i class="icons8-edit"></i>
                <span>Edit Question Details</span>
              </button>
            </span>
            
            <hr>
            
            <span   class=" text-color">Department: </span>
            <span   class="text-muted"><i  >{{ question.department}}</i></span>
            <br>
            <span   class=" text-color">Category: </span>
            <span   class=" text-muted"><i  >{{ question.category }}</i></span>
            <br>
            <span   class="text-color">Difficulty: </span>
            
            <span *ngIf = "question.difficulty == 1" class=" text-muted">Easy</span>  
            <span *ngIf = "question.difficulty == 2" class=" text-muted">Medium</span>  
            <span *ngIf = "question.difficulty == 3" class=" text-muted">Hard</span>  
            <span *ngIf = "question.difficulty == 4" class=" text-muted">Very Hard</span>  
            <br> 
            <!-- <span *ngIf="question.questionImage != 'null' || question.questionImage != ''">
              <img [src]='sanitizer.bypassSecurityTrustResourceUrl("C:/Users/SD154130/Source/Repos/Recruitment Tool API/RecruitmentApi/RecruitmentApi/images/"+question.questionImage)'>
            </span>    -->
  
          </div>
  
          <br>

          <br>
          
          Answers
          <span  
          class="_600 text-primary">
          <button *ngIf="authUser.isAdmin || authUser.isSuperAdmin" type="button" (click) = "editAnswers()" class="btn btn-raised btn-with-icon btn-outline accent" style="width:175px; float: right">
            <i class="icons8-edit"></i>
            <span>Edit Answers</span>
          </button>
        </span>
        <hr>
          <div   *ngFor="let answer of this.test.testAnswers">
              <!-- <div   style="background: #5cb85c"  *ngFor="let applicantAnswer of test.applicantAnswer" > -->
              <ul [ngStyle]="{ 'background': (answer.correct ? '#5cb85c' : 'white') }" class="card-body list-group-item">
                  <div   class="ml">
                   
                    <small  class="text-muted text-ellipsis">{{ answer.answerText }}</small>
                    

                  </div>
                

              </ul>
              <!--</div>-->
            </div>
        </sd-card-body>
        
  
        <!-- <sd-card-footer>
          Footer content, probably not very relevant for the most part
        </sd-card-footer> -->
      </sd-card>
    </div>
  </div>